{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <div class="p-4 m-4">
            <div class="col-lg-4 mt-4 mb-4 mx-auto">
                <h3 class= "alert border rounded mt-4 mb-4"> Login</h3>
                <form action="/login" method="POST">
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                      {{error}}
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    
                    <!-- email -->
                    <div class="form-group">
                      <label for="">Email</label>
                      <input type="email" name="email" id="" value="{{values.email}}" class="form-control form-control-sm" placeholder="example@gmail.com">
                    </div>

                    <!-- password -->
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" name="password" id="" class="form-control" placeholder="**********">
                      </div>
                      <div class="from-group my-2">
                          <input class="btn btn-sm btn-primary col-lg-4" type="submit" value="Login">
                      </div>
                </form>
            </div>

        </div>
    </div>

{% endblock  %}